@import './base.css';


body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.slideshow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideshow 12s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
  background-image: url('../images/photos/pic-1.webp');
}

.slide:nth-child(2) {
  animation-delay: 4s;
  background-image: url('../images/photos/pic-2.webp');
}

.slide:nth-child(3) {
  animation-delay: 8s;
  background-image: url('../images/photos/pic-3.webp');
}

.slide:nth-child(4) {
  animation-delay: 12s;
  background-image: url('../images/photos/pic-4.webp');
}

.slide:nth-child(5) {
  animation-delay: 16s;
  background-image: url('../images/photos/pic-5.webp');
}

.slide:nth-child(6) {
  animation-delay: 20s;
  background-image: url('../images/photos/pic-6.webp');
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.banner {
  background-color: rgba(220, 220, 220);
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  width: 100%;
  font-weight: bold;
  margin: 1rem 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}